# APP ENCRYPTION KEY
# Prefix with EXPO_PUBLIC_ to make it available in the Expo app at runtime.
# This should be a random, long string for production.
EXPO_PUBLIC_ENCRYPTION_KEY=YOUR_SECRET_SALT_HERE
